android/.gradle/
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.idea/misc.xml
android/.idea/modules.xml
android/.DS_Store
android/build/
android/*.iml
.idea
.vagrant/*
.fuse*
*.iml
target/
log/
*.orig
*.log
*.log.*
*.out
*~
